* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color:#ebeaea;
    color: #453e3e;
}
.main {
    width: 98%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 0.3125rem;
}
.sidebar {
    width: 20%;
    background-color: white;
}
.content {
    width: 80%;
    background-color: white;
    border-left: 2px solid #ebeaea;
}
.header {
    border-bottom: 2px solid #ebeaea;
    height: 3.125rem;
    display: flex;
    align-items: center;
}
.main-bar {
    height: 25rem;
}
.footer {
    border-top: 2px solid #ebeaea;
    height: 3.125rem;
}
.nav {
    height: 65%;
}
.account {
    height: 35%;
}
.main-bar .nav .header-nav {
    height: 15%;
    padding-top: 0.8125rem;
}
.main-bar .account .header-acc {
    height: 25%;
    padding-top: 0.8125rem;
}

.header i.logo {
    font-size: 1.6875rem;
    margin-left: 6%;
}
.header h3 {
    margin-left: 4%;
}
.header i.menu {
    margin-left: 31%;
    cursor: pointer;
}
.main-bar .nav span {
    display: block;
    font-size: 0.8125rem;
    font-weight: bold;
    margin-left: 0.625rem;
}
.main-bar .content-nav .el {
    display: flex;
    padding: 0.4375rem;
    font-size: 1rem;
    align-items: center;
    cursor: pointer;
    
}

.main-bar .content-nav .el i {
    margin-left: 0.9375rem;
}
.main-bar .content-nav .el a {
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    margin-left: 7px;
    color: #453e3e;
}

.main-bar .account span {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 0.4375rem;
}
.account .content-acc .el {
    display: flex;
    padding: 0.4375rem;
    font-size: 1rem;
    align-items: center;
    cursor: pointer;
}
.account .content-acc .el a {
    font-size: 1rem;
    font-weight: normal;
    margin-left: 0.4375rem;
    text-decoration: none;
    color: #453e3e;
}
.account .content-acc .el i {
    margin-left: 0.9375rem;
}

.footer {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.footer .brightness {
    border: 0.0625rem solid black;
    height: 2.1875rem;
    width: 80%;
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ebeaea;
}
.footer .brightness .light {
    width: 48.5%;
    height: 80%;
    border: 0.0625rem solid black;
    border-radius: 0.3125rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}
.footer .brightness .light span {
    margin-left: 0.25rem;
}
.footer .brightness .dark {
    width: 48.5%;
    height: 80%;
    margin-left: 0.125rem;
    border-radius: 0.3125rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ebeaea;
    cursor: pointer;
}
.footer .brightness .dark span {
    margin-left: 0.25rem;
}
.content .header {
    border-bottom: 0.0625rem solid #ebeaea 0.125rem;
    display: flex;
    align-items: flex-end;
    font-size: 1rem;
    width: 100%;
}
.content .header .header-left {
    border-bottom: 0.0625rem solid #ebeaea 0.125rem;
    display: flex;
    align-items: flex-end;
    font-size: 1rem;
    width: 70%;
}
.content .header .header-right {
    width: 30%;
    padding-bottom: 10px;
}
.content .header .header-right a {
    margin-left: 180px;
    text-decoration: none;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #666;
    
}
.content .header i {
    margin-left: 0.3125rem;
    font-size: 0.9rem;
}
.content .header span {
    margin-left: 0.3125rem;
    cursor: pointer;
    font-size: 0.9rem;
}
.el:hover {
    background-color: #666;
    color: white;
}
.main-bar .content-nav .el:hover a {
    color: white;
}
.account .content-acc .el:hover a {
    color: white;
}
.main-content h1 {
 text-align: center;
}
.content table {
    width: 100%;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-collapse:collapse;
    vertical-align: middle;
    text-align: left;
}
.content table tr.tr1 {
    border-top:none;
}
.content table th{
    height: 3rem;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-left: 0px;
    padding-left: 10px;
    background-color: #666;
    color: white;
}
.content table th.image {
    padding-left: 43px;
}
.content table td{
    padding-left: 10px;
    height: 5.2rem;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.content table #th1{
    font-weight:bold;
    font-size: 20px;
}
.content table #td1{
    font-weight: bold;
}
.content table tr td a {
    display: block;
    border: 1px solid #666;
    border-radius: 5px;
    width: 4rem;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    text-align: center;
    height: 2rem;
    padding-top: 6px;
}
.content table tr td .button-delete {
    background-color: #db5353;
}
.content table tr td .button-edit {
    background-color: #18c418;
}
.footer .paginate {
    list-style-type: none;
    display: flex;
}
.footer .paginate li{
    padding: 7px;
    border: 1px solid #666;
    padding-left: 15px;
    padding-right: 15px;

}
.footer .paginate .disabled {
    display: none;
}
.footer .paginate .el-start{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.footer .paginate .el-end{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.footer .paginate li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #666;
}
.footer .paginate .el {
    border: 1px solid #666;
    width: 20%;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 7px;
    background-color: white;
    color: #666;
    margin-left: 2px;
    padding-left: 15px;
    padding-right: 15px;
}
.footer .paginate .el-end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.footer .paginate .el-start {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.content table td img {
    width: 7rem;
    height: 4.5rem;
}
.content table .tag {
    max-width: 180px;
}
.content table .tag  span {
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #18c418;
    font-weight: bold;
    margin-left: 4px;
}

.main .content .form-create {
    width: 18rem;
    height: 30rem;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}
.main .content .form-create form {
    width: 95%;
    margin: auto;
    padding-top: 2px;
}
.main .content .form-create form label {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 24px;
}
.main .content .form-create form .div-input {
    border: 1px solid black;
    height: 30px;
    padding-top: 0.13rem;
    border-radius: 5px;
    margin-bottom: 15px;
}
.main .content .form-create form .div-input input {
    margin-left: 10px;
    border: none;
    line-height: 25px;
    width: 90%;
    outline: none;
    font-size: 16px;
    margin-bottom: 2px;
}
.main .content .form-create form  .file {
    border: none;
    height: 100px;
}
.main .content .form-create form  .file input {
    margin-left: 0px;
}
.main .content .form-create form .tag {
    border: none;
    height: 120px;
}
.main .content .form-create form .tag div {
    display: flex;
    align-items: center;
    font-size: 18px;
} 

.main .content .form-create form .submit {
    display: block;
    margin: auto;
    padding: 5px;
    cursor: pointer;
    width: 40%;
    font-weight: bold;
    font-size: 16px;
}

.main .content .form-create form .tag input {
    width: 10%;
    font-size: 25px;
    margin-left: 0px;
}
.main .content .form-create form .tag label {
    font-weight: normal;
}

.main .content .div-input .error{
    font-size: 15px;
    color: red;
    display: block;
    margin-bottom: 10px;
}

.main .content .form-create .div-input #picture {
    width: 6rem;
    height: 6rem;
    display: block;
    margin: auto;
    border: none;
}