* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color:#ebeaea;
    color: #453e3e;
}
.main {
    width: 98%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 0.3125rem;
}
.sidebar {
    width: 20%;
    background-color: white;
}
.content {
    width: 80%;
    background-color: white;
    border-left: 2px solid #ebeaea;
}
.header {
    border-bottom: 2px solid #ebeaea;
    height: 3.125rem;
    display: flex;
    align-items: center;
}
.main-bar {
    height: 25rem;
}
.footer {
    border-top: 2px solid #ebeaea;
    height: 3.125rem;
}
.nav {
    height: 65%;
}
.account {
    height: 35%;
}
.main-bar .nav .header-nav {
    height: 15%;
    padding-top: 0.8125rem;
}
.main-bar .account .header-acc {
    height: 25%;
    padding-top: 0.8125rem;
}

.header i.logo {
    font-size: 1.6875rem;
    margin-left: 6%;
}
.header h3 {
    margin-left: 4%;
}
.header i.menu {
    margin-left: 31%;
    cursor: pointer;
}
.main-bar .nav span {
    display: block;
    font-size: 0.8125rem;
    font-weight: bold;
    margin-left: 0.625rem;
}
.main-bar .content-nav .el {
    display: flex;
    padding: 0.4375rem;
    font-size: 1rem;
    align-items: center;
    cursor: pointer;
    
}

.main-bar .content-nav .el i {
    margin-left: 0.9375rem;
}
.main-bar .content-nav .el a {
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    margin-left: 7px;
    color: #453e3e;
}

.main-bar .account span {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 0.4375rem;
}
.account .content-acc .el {
    display: flex;
    padding: 0.4375rem;
    font-size: 1rem;
    align-items: center;
    cursor: pointer;
}
.account .content-acc .el a {
    font-size: 1rem;
    font-weight: normal;
    margin-left: 0.4375rem;
    text-decoration: none;
    color: #453e3e;
}
.account .content-acc .el i {
    margin-left: 0.9375rem;
}

.footer {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.footer .brightness {
    border: 0.0625rem solid black;
    height: 2.1875rem;
    width: 80%;
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ebeaea;
}
.footer .brightness .light {
    width: 48.5%;
    height: 80%;
    border: 0.0625rem solid black;
    border-radius: 0.3125rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}
.footer .brightness .light span {
    margin-left: 0.25rem;
}
.footer .brightness .dark {
    width: 48.5%;
    height: 80%;
    margin-left: 0.125rem;
    border-radius: 0.3125rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ebeaea;
    cursor: pointer;
}
.footer .brightness .dark span {
    margin-left: 0.25rem;
}
.content .header {
    border-bottom: 0.0625rem solid #ebeaea 0.125rem;
    display: flex;
    align-items: flex-end;
    font-size: 1rem;
}
.content .header i {
    margin-left: 0.3125rem;
    font-size: 0.9rem;
}
.content .header span {
    margin-left: 0.3125rem;
    cursor: pointer;
    font-size: 0.9rem;
}
.el:hover {
    background-color: #666;
    color: white;
}
.main-bar .content-nav .el:hover a {
    color: white;
}
.account .content-acc .el:hover a {
    color: white;
}
.main-content h1 {
 text-align: center;
}
.content table {
    width: 100%;
    height:25rem;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-collapse:collapse;
    vertical-align: middle;
    text-align: left;
}
.content table tr.tr1 {
    border-top:none;
}
.content table th{
    height: 20%;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-left: 0px;
    padding-left: 10px;
    background-color: #666;
    color: white;
}
.content table td{
    padding-left: 10px;
    height: 16%;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.content table #th1{
    font-weight:bold;
    font-size: 20px;
}
.content table #td1{
    font-weight: bold;
}
.content table tr td a {
    display: block;
    border: 1px solid #666;
    border-radius: 5px;
    width: 55%;
    font-size: 16px;
    text-decoration: none;
    color: black;
    text-align: center;
    height: 45%;
    padding-top: 5px;
}
.content table tr td .button-delete {
    background-color: #db5353;
}
.content table tr td .button-edit {
    background-color: #18c418;
}
.footer .paginate {
    list-style-type: none;
    display: flex;
}
.footer .paginate li{
    padding: 7px;
    border: 1px solid #666;
    padding-left: 15px;
    padding-right: 15px;

}
.footer .paginate .el-start{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.footer .paginate .el-end{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.footer .paginate li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #666;
}
.footer .paginate .el {
    border: 1px solid #666;
    width: 20%;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 0.25rem;
    background-color: white;
    color: #666;
    margin-left: 2px;
}
.footer .paginate .el-end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.footer .paginate .el-start {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
